<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461277656140-lrh2adso9cmrmc44fpmvidgh4o2pc3ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461277656140-lrh2adso9cmrmc44fpmvidgh4o2pc3ut</string>
	<key>API_KEY</key>
	<string>AIzaSyAl5La8GBDo0YAd0R6LlmlzPG483RBJ1NE</string>
	<key>GCM_SENDER_ID</key>
	<string>461277656140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-app-fa509</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-app-fa509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461277656140:ios:37bd902ba631104bab30e9</string>
</dict>
</plist>